PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/
DB_NAME=EVENT_DB
JWT_SECRET_KEY=your_jwt_secret_key

# MongoDB Atlas example:
# MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/
# DB_NAME=EVENT_DB
